body {
	margin: 0px;
	padding: 0px;
	background-color: #252525;
	font-family: 'Raleway', sans-serif;
}

#profileDetails {
	color: white;
	font-size: 30px;
	width: 700px;
	margin: 100px auto 0 auto;
	display: flex;
}

.profileDetail {
	margin: auto;
	text-align: center;
}

#description {
	color: white;
	width: 600px;
	margin: 0 auto;
	margin-top: 30px;
	color: white;
	font-size: 20px;
	text-align: left;
	margin-bottom: 100px;
}

#description p {
	font-size: 20px;
	margin: 0;
	margin-left: 20px;
}

#editProfileDescription {
	width: 600px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 100px;
	margin-top: -100px;
}
#profileAvatar img {
	border-radius: 50%;
	object-position: 50% 10%;
	object-fit: cover;
	width: 150px;
	height: 150px;
	margin-right:10px;
}

.roundButton {
	height: 30px;
	width: auto;
	padding: 0 20px;
	color: white;
	background: none;
	border: 1px solid white;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-size: 17px;
}

.roundButton:hover {
	transition: .6s;
	color: black;
	background-color: white;
}

#imageContainer {
	margin: 50px 0;
	display: grid;
	grid-template-columns: repeat(3, 15vw);
	justify-content: center;
	grid-gap: 20px;
	grid-row-gap: 15;
	text-align: center;
}

.image img {
	object-position: 50% 10%;
	object-fit: cover;
	width: 100%;
	height: 15vw;
}

@media screen and (max-width:960px) {
	#imageContainer {
		grid-template-columns: repeat(2, 46vw);
	}
	.image img {
		height: 46vw;
	}
}